<launch>
	<arg name="thruster_port" default="/dev/ttyACM0" />

	<node name="c3po" pkg="basic_translator" type="basic_translator" respawn="true" />
	<node name="spacenav" pkg="spacenav_node" type="spacenav_node" respawn="true" />
	<node name="hal9000" pkg="fcs_spacenav" type="spacenav" respawn="true" output="screen" />
	<node name="slave" pkg="rosserial_python" type="serial_node.py" respawn="true">
		<param name="~port" value="$(arg thruster_port)" />
	</node>

</launch>
