<launch>
        <include file="$(find mr_tools)/launch/teleoperator.launch"/>

        <node name="c3po" pkg="basic_translator" type="translate" respawn="true" />
        <node name="ui_translator" pkg="basic_translator" type="ui_translator" respawn="true" />

        <node name="slave" pkg="rosserial_python" type="serial_node.py" respawn="false">
                <param name="~port" value="/dev/ttyACM0" />

        </node>

</launch>

