<launch>
    <rosparam ns="mr_teleoperator">
      output_topics:
        - /flexcraft_ui_joystick/cmd_vel
    </rosparam>
    
    <node name="joystick_teleoperator" pkg="mr_tools" type="joystick_teleoperator" output="screen">
        <param name="dev" value="/dev/input/js1" />
    </node>

    <node name="rqt" pkg="rqt_gui" type="rqt_gui" output="screen" />
</launch>


