<launch>
	<group ns="Freeman">
		<node pkg="axis_camera" type="axis.py" name="Freeman" respawn="true">
			<param name="hostname" value="128.158.21.89" />
			<param name="password" value="FreemanSR" />
		</node>

		<node pkg="image_transport" type="republish" name="Freeman_translate" respawn="true">
			<param name="in" value="/image_raw" />
			<param name="image_transport" value="compressed" />
			<param name="out" value="image_left" />
		</node>
	</group>

	<group ns="Huey">
		<node pkg="axis_camera" type="axis.py" name="Huey" respawn="true">
			<param name="hostname" value="128.158.21.91" />
			<param name="password" value="HueySR" />
		</node>
	</group>

	<group ns="Louie">
		<node pkg="axis_camera" type="axis.py" name="Louie" respawn="true">
			<param name="hostname" value="128.158.21.92" />
			<param name="password" value="LouieSR" />
		</node>
	</group>
</launch>
